<template>
  <v-app>
    <v-toolbar app dark fixed color="primary">
      <v-toolbar-side-icon exact :to="{ name: 'home' }">
        <v-icon class="amber--text text-lighten-2">mdi-glass-mug</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>
        <div>
        Pifkan&trade;
        </div>
        <div class="caption">
          by Damjan & Kornelije // Kulendayz 2018
        </div>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn v-if="!loggedIn" flat exact :to="{ name: 'login' }" :loading="loading">
          <v-icon left>mdi-account</v-icon>
          <span>Prijava</span>
        </v-btn>
        <v-btn v-else flat exact @click="logout" :loading="loading">
          <v-icon left>mdi-account-check</v-icon>
          <span>{{ loggedInUser.email }} ({{ loggedInUser.role }}) </span>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-bottom-nav :active.sync="bottomNav" v-model="loggedIn" app fixed color="primary">
      <v-btn v-show="!isAdmin" dark value="unosKoda">
        <span>Unesi kod</span>
        <v-icon>mdi-qrcode-scan</v-icon>
      </v-btn>
      <v-btn dark value="dobitnici">
        <span>Dobitnici</span>
        <v-icon>mdi-gift</v-icon>
      </v-btn>
      <v-btn v-show="isAdmin" dark value="admin">
        <span>Admin</span>
        <v-icon>mdi-security</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      bottomNav: null
    }
  },
  computed: {
    currentRoute () {
      return this.$route.name
    },
    isAdmin () {
      return !!this.loggedInUser && this.loggedInUser.role === 'admin'
    },
    loading () {
      return this.$store.state.loading
    },
    loggedIn () {
      return this.$store.getters['loggedIn']
    },
    loggedInUser () {
      return this.$store.state.user
    }
  },
  watch: {
    currentRoute (newVal) {
      if (['unosKoda', 'dobitnici', 'admin'].includes(newVal)) {
        this.bottomNav = newVal
      } else {
        this.bottomNav = null
      }
    },
    bottomNav (newVal) {
      this.$router.push({ name: newVal })
    }
  },
  mounted () {
    this.$store.dispatch('tryLogin')
  },
  methods: {
    async logout () {
      await this.$store.dispatch('logout')
      this.$router.replace({ name: 'home' })
    }
  }
}
</script>
