<template lang="pug">
  v-container(fluid)
    v-layout(row wrap)
      v-flex(xs12 sm6)
        h1 Izvlačenje dobitnika
        div.caption Idemo vidjeti čiji kod će imati sreće
        v-btn(:loading="loading" @click="pokreni" round large color="primary") Izvuci dobitnika
        template(v-if="dobitnik && dobitnik.code")
          h2 Novi dobitnik je...
          div
            | E-mail:&nbsp;
            strong {{ dobitnik.submittedBy }}
            br
            | Kod: {{ dobitnik.code }}
        template(v-if="dobitnik && !dobitnik.code")
          h2.red--text Nitko nije igrao!
      v-flex(xs12 sm6)
        h1 Dostupni kodovi
        v-expansion-panel
          v-expansion-panel-content
            div(slot="header") Klikni da vidiš
            v-card
              v-card-text
                div(v-for="(code, ix) in codes")
                  | {{ code }}
</template>

<script>
import store from '@/store'
import filters from '@/mixins/filters'
import { mapState } from 'vuex'

export default {
  name: 'Izvlacenje',
  mixins: [filters],
  beforeRouteEnter (to, from, next) {
    let canEnter = store.state.user && store.state.user.role === 'admin'
    if (canEnter) {
      next()
    } else {
      next({ name: 'login' })
    }
  },
  computed: {
    ...mapState({
      codes: state => state.allCodes,
      dobitnik: state => state.lastDraw,
      loading: state => state.loading
    })
  },
  mounted () {
    this.$store.dispatch('getAllCodes')
  },
  methods: {
    pokreni () {
      this.$store.dispatch('drawCode')
    }
  }
}
</script>
