<template lang="pug">
  v-container(fluid)
    v-layout(row wrap)
      v-flex(xs12)
        h1 Tko su dobitnici?
        h2 Je li igra namještena? Provjeri dolje...
      v-flex.mt-4(xs12)
        template(v-if="$vuetify.breakpoint.smAndUp")
          table.v-datatable.v-table
            thead
              tr
                th.text-xs-left Izvlačenje
                th.text-xs-left E-mail
                th.text-xs-left Kod
            tbody
              tr(v-for="(draw, ix) in draws" :key="ix")
                td {{ draw.drawnAt | date }}
                td
                  template(v-if="draw.drawnCode")
                    | {{ draw.drawnUser }}
                  template(v-else)
                    strong.red--text NITKO NIJE IGRAO!
                td {{ draw.drawnCode }}
        template(v-else)
          v-card(v-for="(draw, ix) in draws" :key="n")
            v-card-text
              div
                strong {{ draw.drawnAt | date }}
              div
                template(v-if="draw.drawnCode")
                  | {{ draw.drawnUser }}
                template(v-else)
                  strong.red--text NITKO NIJE IGRAO!
              div {{ draw.drawnCode }}
</template>

<script>
import auth from '@/mixins/auth'
import store from '@/store'

const dateTimeFormatter = new Intl.DateTimeFormat('hr-HR', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: 'numeric',
  minute: 'numeric',
  second: 'numeric'
})

export default {
  name: 'Dobitnici',
  mixins: [auth],
  filters: {
    date (val) {
      return dateTimeFormatter.format(new Date(val))
    }
  },
  beforeRouteEnter (to, from, next) {
    // first way: using store
    let canEnter = !!store.state.user
    if (canEnter) {
      next(true)
    } else {
      next({ name: 'home' })
    }
    // second way: use instance
    // next(vm => {
    //   let canEnter = vm.loggedIn
    //   if (canEnter) {
    //     return
    //   } else {
    //     return vm.$router.replace({ name: 'home' })
    //   }
    // })
  },
  mounted () {
    this.$store.dispatch('getAllDraws')
  },
  computed: {
    draws () {
      return this.$store.state.draws.sort((a,b) => new Date(b.drawAt) - new Date(a.drawAt))
    }
  }
}
</script>
