<template>
  <div>
    <v-parallax height="400" :src="require('../assets/pivo.jpg')">
      <h1>Uz Pifkan kodove osvoji Pifkana!</h1>
      <h2>
        Nagradna igra u kojoj svi gube<sup>*</sup>
      </h2>
    </v-parallax>
    <v-container fluid>
      <h3 class="body-2">
        Kako funkcionira ovo?
      </h3>
      <section>
        Nakon prijave možeš ukucavati kodove koje ćeš naći već negdje gdje ti kažu... Što više kodova ukucaš, to su bolje šanse da te izvuku ako ikada dođe do izvlačenja.
      </section>
      <h3 class="mt-5">Pravila igre</h3>
      <section v-for="n in 10" :key="n">
        <div class="subheading">
          Članak {{ n }}
        </div>
        <div>
          Trla baba lan da joj prođe dan...
        </div>
      </section>
      <div class="mt-5 caption">
        * Ovo je fiktivna nagradna igra za potrebe treninga razvoja aplikacija.
      </div>
    </v-container>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
