<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap justify-center>
      <v-flex xs12 sm6>
        <h2>Prijavi se</h2>
        <div class="caption">
          Samo upiši e-mail da se ulogiraš... ak nisi registriran sad ćeš postati buahahaha
          <v-icon>insert_emoticon</v-icon>
        </div>
        <v-form ref="frmLogin" @submit.prevent="login" class="mt-3">
          <v-text-field
            v-model="loginUser.email"
            :rules="[validatorMandatory, validatorEmail]"
            box placeholder="Mirko@Mirkovic.com" label="Unesi e-mail"></v-text-field>
          <v-btn color="primary" @click="login" :loading="loading">Prijavi se</v-btn>
          <div v-if="error" class="error--text">{{ error }}</div>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      loginUser: {
        email: null
      }
    }
  },
  computed: {
    ...mapState({
      error: state => state.error,
      loading: state => state.loading
    }),
    loggedIn () {
      return this.$store.getters['loggedIn']
    }
  },
  methods: {
    async login () {
      if (this.$refs.frmLogin.validate() !== true) {
        return
      }
      let res = await this.$store.dispatch('login', this.loginUser)
      if (res) {
        this.$router.replace({ name: 'home' })
      }
    },
    validatorEmail (v) {
      return /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,4})+$/.test(v) ? true : 'Treba unijeti ispravnu e-mail adresu'
    },
    validatorMandatory (v) {
      return v && v.trim() !== '' ? true : 'Obavezan unos'
    }
  }
}
</script>
