<template>
  <v-container fluid>
    <v-snackbar top auto-height v-model="poslanKod">
      Odlično, poslali smo tvoj kod!
      <br>
      Možeš ih još unijeti, ili se strpi se do izvlačenja :)
    </v-snackbar>
    <v-layout row wrap justify-center>
      <v-flex xs12 text-xs-center>
        <h1>Imaš kod? Dobro je!</h1>
        <h2>Unesi ga ovdje, za veliku šansu da te ne izvučemo</h2>
      </v-flex>
      <v-flex xs12 sm6 md4 lg3 class="mt-4">
        <v-form ref="frmUnos" @submit.prevent="posaljiKod">
          <v-text-field
            v-model="unos"
            mask="NNNNNNN"
            :rules="[validatorKod]"
            outline label="Unesi kod" hint="Kod je oblika XXXXXX" persistent-hint>
          </v-text-field>
        </v-form>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <v-btn
          @click="posaljiKod"
          :loading="loading"
          color="primary" large round>
          Pošalji
        </v-btn>
        <div v-if="error" class="error--text">{{ error }}</div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'UnosKoda',
  data () {
    return {
      error: null,
      poslanKod: false,
      unos: null
    }
  },
  computed: {
    loading () {
      return this.$store.state.loading
    }
  },
  methods: {
    async posaljiKod () {
      if (this.$refs.frmUnos.validate() !== true) {
        return
      }
      let res = await this.$store.dispatch('submitCode', this.unos)
      this.poslanKod = res
      if (!res) {
        this.error = 'Nismo uspjeli poslati tvoj kod. Možda je iskorišten već, možda je izmišljen, a možda i greška u sustavu...'
      }
      if (res) {
        this.$refs.frmUnos.reset()
      }
    },
    validatorKod (v) {
      this.error = null
      return v !== null && v.trim().length === 7 ? true : 'Nije unešen ispravan oblik koda'
    }
  }
}
</script>
